<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/bootstrap.bundle.js"></script>
    <style>
        .invalid-feedback {
            display: block !important;
        }
    </style>
</head>
<body>

<div class="container">
    <h1>회원가입</h1>
    <form action="/member/signin" method="post" th:action th:object="${paramMember}">
        <div class="mt-3">
            <label  class="form-label">USER ID</label>
            <input type="text"
                   class="form-control"
                   th:field="*{userId}"
                   placeholder="아이디를 써주세요">
            <!-- ?는 null일떄 npe가 발생하면 오류처리하지말고 null을 반환해라라고 하는 타임리프 문법-->
            <div class="invalid-feedback" th:errors="*{userId}">
                Looks good!
            </div>

        </div>


        <div class="mt-3">
            <label  class="form-label">PASSWORD</label>
            <input type="password" class="form-control" th:field="*{userPw}" placeholder="비밀번호를 써주세요">
            <div class="invalid-feedback"  th:errors="*{userPw}">
                Looks good!
            </div>
        </div>
        <div class="mt-3">
            <label class="form-label">USER NAME</label>
            <input type="text" class="form-control"  th:field="*{userName}" placeholder="이름을 써주세요">
            <div class="invalid-feedback"  th:errors="*{userName}">
                Looks good!
            </div>
        </div>
        <div class="mt-3">
            <button class="btn btn-primary">회원가입</button>
        </div>
    </form>
</div>
</body>
</html>